#banner {
  margin-top: 150px;
}

section.row {
  margin-top: 50px;
}
center, .center{
  display:block;
  margin:auto;
}
smallcenter, .smallcenter {
  display: block;
  margin: 0 0 0 10%;}

.footer {
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}
